<app-header></app-header>
<div class="introduction" fxLayout="row" fxLayoutAlign="space-around center">
  <div style="text-align: justify" fxFlex="50">
    <h1>Welcome!</h1>
    <p>These are step by step guides to becoming a modern developer. They are based on the <a href="https://roadmap.sh/">famous road maps</a>
      from <a href="https://github.com/kamranahmedse">@kamranahmedse</a> and the GitHub Community. We wish you all the best for your learning process and
      be sure to write us, if your find anything that we can improve!</p>
    <p>Best regards,<br>your frontend road map team</p>
  </div>
  <div class="material-icons" fxFlex="50">developer_mode</div>
</div>
