@import "../../../variables.scss";

.milestone-headline {
  vertical-align: center;
  text-align: center;
  padding: 9px 18px;
  margin: 6px 0;
  color: #444444;
  background: white;
  border-radius: 3px;
  border: #28b489 2px solid;
}
