<app-header></app-header>
<div class="steps">
  <div>
    <div>Internet</div>
    <div>
      <div>Basics</div>
      <div>HTTP</div>
      <div>Browser</div>
      <div>DNS</div>
      <div>Domain Name</div>
      <div>Hosting</div>
    </div>
  </div>

  <div>
    <div>HTML</div>
    <div>
      <div>Basics</div>
      <div>Semantic HTML</div>
      <div>Forms & Validations</div>
      <div>Conventions & Best Practices</div>
      <div>Accessibility</div>
      <div>SEO</div>
    </div>
  </div>
</div>
