@import "variables.scss";

html, body {
  height: 100%;
}

html, .root {
  font-size: 14px;
  line-height: 18px;
}

body {
  color: $black;
  font-size: 1em;
  line-height: 1.28571429em;
  font-family: $standard;
  background: white;
  margin: 0;
}

a {
  color: $major;
}

.container {
  margin: 120px auto;
  max-width: 780px;
  padding: 0 18px;
}
