// Global Styles
// 1) Variables
// 2) General

// 1) VARIABLES
// Saturated colors
$major: #10c98f;
$minor: #E91E63;

// Greyscale colors
$white: #fdfdfd;
$greyLight: #bfc2cf;
$grey: #7e838f;
$greyDark: #535958;
$black: #38424b;

// 2) GENERAL
// Fonts
$standard: Roboto, "Open Sans", "Helvetica Neue", sans-serif;

h1, h2, h3 {
  color: $greyDark;
}

h1 {
  font-size: 3.21428571em;
  line-height: 1.16949153em;
  margin-top: 0.38983051em;
  margin-bottom: 0.77966102em;
}

h2 {
  font-size: 2.64285714em;
  line-height: 1.24324324em;
  margin-top: 0.62162162em;
  margin-bottom: 0.62162162em;
}

h3 {
  font-size: 1.64285714em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 0;
}

p {
  font-size: 1.2em;
  line-height: 1.7em;
  color: $black;
  margin-top: 0;
  margin-bottom: 1.64285714em;
}
